 <div class="col-span-4 p-10">
   <%= turbo_frame_tag "main_frame" do %>
     <p class="text-3xl mb-10">To-Do App</p>
    <form action="/todo_list" method="post" accept-charset="UTF-8">
        <div class="grid grid-cols-2">
            <div class="mb-5">
                <label for="todo" class="block cols-2 mb-2 text-sm font-medium text-gray-900 dark:text-white">Create a new To-Do Item</label>
                <p class="text-red-400"></p>
                <p class="text-green-400"></p>
                <input type="text" id="item" name="item" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="To-Do Item" />
            </div>
        </div>

        <%= content_tag(
              :button, "Submit",
              data: {
                controller: "todo",
                method: "submit",
                action: "click->todo#submit"
              },
              class: "btn-submit-todo text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          ) %>
    </form>
   <% end %>
</div>